<div class="jumbotron">
  <div class="fonted">
    <h1>Welcome to LeagueCast!</h1> 

    <p>This website is an indevelopment tournament and league service.</p>
  </div>
</div>

<div class="fonted">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <h2><span class="glyphicon glyphicon-user"></span> Intro</h2>
      <p>There are a multitude of sports-oriented websites and apps out there; 
Fantasy sports websites let you manage a team in your favourite league, 
news networks maintain comprehensive pages for every major sports league and 
thousands of smaller communities connect fans with other sport lovers. But what 
about people running their own competitions and sports?</p>
    </div>
    <div class="col-md-6">
      <h2><span class="glyphicon glyphicon-flag"></span> Goal</h2>
        <p> They need a platform to
        create and manage fixtures, promote interest and connect the people involved.
        Given the opportunity to create a multiuser app for our second year project at Imperial,
        we chose to implement an application that combines these elements and bring
        together existing sports leagues with user-created competitions.</p>
   </div>
   
  </div>

  <hr>

  <footer>
    <p>&copy; LeagueCast 2015</p>
  </footer>
</div> <!-- /container -->